﻿@model  Rent_A_Car_PR_7_2016.Models.Korisnik
@{
    ViewBag.Title = "RegistracijaVlasnika";
}
<body background="~/Images/pozadina.jpg">
    <h2 style="text-align:center; background-color:aliceblue; border:thin; border-color:aquamarine">Registracija menadzera</h2>
    <div>
        @ViewBag.Message
    </div>
    <br />
    <br />
    <br />
    <form action="RegisterVlasnika" method="post">
        <table style="background-color:aliceblue" align="center" class="table-striped" width="600" height="300">
            <tr>
                <td>
                
                
                
                čko ime:</td>
                <td><input type="text" name="korisnickoIme" /></td>
            </tr>
            <tr>
                <td>Lozinka:</td>
                <td><input type="password" name="loznika" /></td>
            </tr>
            <tr>
                <td>Ime:</td>
                <td><input type="text" name="ime" /></td>
            </tr>
            <tr>
                <td>Prezime:</td>
                <td><input type="text" name="prezime" /></td>
            </tr>
            <tr>
                <td>Pol:</td>
                <td>
                    <input list="polovi" name="pol" />
                    <datalist id="polovi">
                        <option value="MUŠKI"></option>
                        <option value="ŽENSKI"></option>
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Datum rođenja:</td>
                <td><input type="date" name="datumRodjenja" /></td>
            </tr>
            <tr>
                <td>Uloga: </td>
                <td>
                    <select name="Uloga">
                        <option value=""></option>
                        <option value="MENADZER">MENADZER</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <input type="submit" class="btn btn-info" value="Registracija" />
                </td>
            </tr>
        </table>
    </form>
</body>


