﻿@model  Rent_A_Car_PR_7_2016.Models.Korisnik
@{
    ViewBag.Title = "RegistracijaVlasnika";
}
<body background="~/Images/pozadinalogin.jpg" style="background-repeat:no-repeat; background-size:cover">
    <br />
    <br />
    <br />
    <form action="RegisterVlasnika" method="post">
        <table style="background-color:aliceblue; opacity:0.9; border-collapse:separate; border-spacing:0.85em; border-radius:9px; border-width:1px" align="center" class="table-striped" width="600" height="300">
            <caption style="text-align:center; background-color:aliceblue; border:thin; border-color:aquamarine; font-family:'Comic Sans MS', Times, serif; font-style:italic; opacity:0.8; font-weight:500; color:darkblue; font-size:19pt; border-radius:9px; border-width:1px">Registracija menadzera</caption>
            <tr>
                <td style="font-family:'Comic Sans MS'">Korisničko ime:</td>
                <td><input type="text" name="korisnickoIme" placeholder="bar 3 karaktera" style="border-radius:9px; border-width:1px" /></td>
            </tr>
            <tr>
                <td style="font-family:'Comic Sans MS'">Lozinka:</td>
                <td><input type="password" name="loznika" placeholder="bar 5 karaktera" style="border-radius:9px; border-width:1px" /></td>
            </tr>
            <tr>
                <td style="font-family:'Comic Sans MS'">Ime:</td>
                <td><input type="text" name="ime" style="border-radius:9px; border-width:1px" /></td>
            </tr>
            <tr>
                <td style="font-family:'Comic Sans MS'">Prezime:</td>
                <td><input type="text" name="prezime" style="border-radius:9px; border-width:1px" /></td>
            </tr>
            <tr>
                <td style="font-family:'Comic Sans MS'">Pol:</td>
                <td>
                    <input list="polovi" name="pol" style="border-radius:9px; border-width:1px" />
                    <datalist id="polovi">
                        <option value="MUSKO"></option>
                        <option value="ZENSKO"></option>
                    </datalist>
                </td>
            </tr>
            <tr>
                <td style="font-family:'Comic Sans MS'">Datum rođenja:</td>
                <td><input type="date" name="datumRodjenja" style="border-radius:9px; border-width:1px" /></td>
            </tr>
            <tr>
                <td style="font-family:'Comic Sans MS'">Uloga: </td>
                <td>
                    <select name="Uloga" style="border-radius:9px; border-width:1px">
                        <option value=""></option>
                        <option value="MENADZER">MENADZER</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <input type="submit" class="btn btn-info" value="Registracija" style="border-radius:9px; width:170px" />
                </td>
            </tr>
        </table>
        <div style="margin-left:270px; font-family:'Comic Sans MS'; background-color:lightcoral; width:600px; font-size:16px">
            <div>
                @ViewBag.Message
            </div>
        </div>
    </form>
</body>


